Source: mission-center
Section: unknown
Priority: optional
Maintainer: coolshou <coolshou2060@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), build-essential, cmake, curl, desktop-file-utils,
 gettext, git, libadwaita-1-dev, libdbus-1-dev, libdrm-dev, libgbm-dev,
 libudev-dev, meson, pkg-config, protobuf-compiler, python3-gi, python3-pip,
 blueprint-compiler, libgtk-4-dev (>=4.18), libadwaita-1-dev (>=1.7)
Standards-Version: 4.6.2
Homepage: https://missioncenter.io/
#Vcs-Browser: https://salsa.debian.org/debian/mission-center
Vcs-Git: https://gitlab.com/mission-center-devs/mission-center

Package: mission-center
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Monitor your CPU, Memory, Disk, Network and GPU usage
 Monitor your CPU, Memory, Disk, Network and GPU usage
